h1 {
  text-align: center;
  font-family: monospace, sans-serif;
  font-size: 2.5em;
  padding-top: 20px;
}

body {
  background: linear-gradient(to right, #b7deed 0%,#71ceef 47%,#21b4e2 100%,#b7deed 100%);
}

#planets {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 1); 
  border-radius: 12px 12px 0px 0px; 
  background-color: white;
}

th {
  font-size: 1.5em;
  padding: 20px;
  background-color: lightcyan;
}

td {
  padding: 20px;
  text-align: center;
  border: 1px solid gray;
}

.field-name {
  font-size: 1.2em;
  font-weight: bold;
}

tr:hover {
  background-color: beige;
}

.yes {
  color: darkgreen; 
}

td.yes:hover {
  background-color: lightgreen; 
}

.no {
  color: darkred;
}

td.no:hover {
  background-color: palevioletred;
}



