th {
  font-size: 1.5em;
  padding: 20px;
}

td {
  padding: 20px;
  text-align: center;
  border: 1px solid gray;
}

.field-name {
    font-size: 1.2em;
    font-weight: bold;
}

.yes {
  background-color: lightgreen;
  color: darkgreen; 
}

.no {
  background-color: palevioletred;
  color: darkred;
}
